<header class="main-header">
  <nav class="main-nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/login">Login</a></li>
      <li class="nav-item"><a href="/profile">Profile</a></li>
      <li class="nav-item"><a href="/stadiums">Stadiums</a></li>
    </ul>
  </nav>
</header>
