<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Venue Voyager</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Venue Voyager</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="btn-no-style"><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          {{#if logged_in}}
          <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
          <li><a href="/login">Login/Signup</a></li>
          {{/if}}
        </ul>
      </div>
  </header>
  <div class=>
    <header class=>

      <main>

        <div>
          {{{body}}}
        </div>
      </main>
      {{#if logged_in}}
      <script src="/js/logout.js"></script>
      {{/if}}
</body>

</html>