<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Venue Voyager</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
   <header>
      <h1>Venue Voyager</h1>
  
      <nav>
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
     {{#if loggedIn}}
     <button id="logout" class="btn-no-style">Logout</button>
     {{else}}
      <a href="/login">Login</a>
        {{/if}}
  </nav>
  </header><div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
     
  <main>
   
    <div >
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>