<main class="main-content">
  <div class="row">
    <div class="col-auto">
      <h2>Places You've Been</h2>
    </div>
  </div>

 <main>
  <h2>Your Stadium Visits</h2>
    <div class="row">
    {{#each userStadiums}}
      <div class="col-md-6">
        <h3>Stadium Visit</h3>
        <p>Date Visited: {{date_visited}}</p>
        <p>Rating: {{rating}}</p>
        <p>Review: {{review}}</p>
        <!-- Additional fields as needed -->
      </div>
    {{/each}}
  </div>
</main>

